/* .angebot{
    width: 400px;
    height: 400px;
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    margin: 10px auto; */
    /* position: absolute;
    right: 0; 
    padding-top: 100px;
    z-index: 1; */
    /* display: flex;
    justify-content: center;
    al
}
img{
    width: 250px;
    height: 250px;
    object-fit: contain;
    object-position: center;
}
h2, h3, p{
    margin: 0;
} */